/* backgroundImage: "url(./assets/darkBg.jpj)"
 */

 #app-container {
   background-image: url(./assets/firstScreen.png);
   background-repeat: no-repeat;
   height: 100vh;
   background-size: cover;
   background-position: center;
 }